<!DOCTYPE html>
<html lang="en" ng-app="mapper">
    <head>
        <meta charset="UTF-8">
        <title>Mapper</title>
        <script src="../../lib/d3.v2.js"></script>
        <script src="../../bower_components/angular/angular.js"></script>
        <script src="app.js"></script>
        <script src="mapper.js"></script>
        <link rel="stylesheet" type="text/css" href="mapper.css">
    </head>
    <body ng-controller="MapperController">
        <button ng-click="dfs()" id="bfsBtn" ng-class="startDfs ? 'active' : ''">DFS</button>
        <button ng-click="clearGraph()" id="clearBtn">Clear</button>
        <button ng-click="bfs()" id="dfsBtn" ng-class="startBfs ? 'active' : ''">BFS</button>
        <button ng-click="logMapState()" id="logMapState">Console Log Map State</button>
        <map></map>
    </body>
</html>