* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #2C2C2C;
}
svg {
    width: 100vw;
    height: 100vh;
}
text {
    color: white;
}
button {
    position: fixed;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    font-size: 18px;
    padding: 10px 15px;
}
button.active {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
#bfsBtn {
    left: 15px;
    top: 15px;
}
#dfsBtn {
    left: 115px;
    top: 15px;
}
#logMapState {
    font-size: 10px;
    padding: 5px 5px;
    position: fixed;
    bottom: 15px;
    right: 0px;
}
circle:hover {
    cursor: crosshair;
}
#clearBtn {
    right: 15px;
    top: 15px;
}